.navbar{
    background-color: #003F !important;
}

.navbar-brand{
    color: white !important;
    font-weight: bold;
}

.nav-link{
    color: white !important;
}

.content{
    padding-top: 80px;
}
.footer{
    padding:10px;
    text-align: center;
    background-color: blue;
    color:white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

button{
    background-color: rgba(0, 0, 255, 0.575);
    box-shadow: none;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

button:hover{
    background-color: tomato;
}

.loader{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}